page-login {
 
    .login-content {
      background: #84b991;
   
      .logo-row {
        padding-top: 50px;
        padding-bottom: 20px;
      }

      .login-box {
        background:#84b991;
        padding: 20px 20px 0px 20px;
        margin-top: 30px;
      }
   
      ion-row {
         align-items: center;
         text-align: center;
       }
   
       ion-item {
           border-radius: 30px !important;
           padding-left: 30px !important;
           font-size: 0.9em;
           margin-bottom: 10px;
           border: 1px solid #ffffff;
           border-bottom: 0px !important;
           box-shadow: none !important;
       }
   
       .signup-col {
         margin: 0 16px;
         padding-bottom: 0;
       }
   
       .item-inner {
         border-bottom-color: #ffffff !important;
         box-shadow: none !important;
       }
   
       .submit-btn {
         color: white !important;
         background-color: #399F8B;
         display: block;
         margin: 4px auto;
       }
   
       .register-btn {
        color: white !important;
        background-color: #399F8B;
        display: block;
        margin: 4px auto;

       }
    }

    .pw-link {
      color: white;
      text-decoration-line: none !important;
    }

    .pw-col {
      margin: 0px 16px 0px 16px;
      padding-bottom: 20px;
      color: white;
      text-decoration-line: none !important;
    }
  }