<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Andrej Fröhlich</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="list card">
    
                <div class="item item-avatar">
                  <div align="left">
                    <img src ="http://placehold.it/120x120" align="middle">
                  </div>

                    <p><span style="color: #84b991;">Ich komme aus:</span> Wien, Österreich</p>
                    <p><span style="color: #84b991;">Über mich:</span> Ich schwimme gerne</p>
                    <p><span style="color: #84b991;">Mir ist wichtig:</span> Österreich sauber zu halten</p>
                    <p><span style="color: #84b991;">Meine Webseite:</span> www.ChangeTheWorld.com</p>
    
                </div>
    
                <div class="item item-body">
    
                  <!--<ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true" ng-if="items" >
                    <ion-slide  ng-repeat="i in items"> 
                  
                    <div  class="video">
                      <img class="full-image" style="height:200px"ng-src="{{i.image}}" />
                      <a href="https://www.youtube.com/embed/rzc3_b_KnHc"></a>
                    </div>
                             <h4>{{i.name}}</h4>       
                  
                      <p>{{i.age}}</p>
                    </ion-slide>
                  </ion-slide-box>
                --><iframe height="202px" width="300px" src="https://www.youtube.com/embed/cM3w7kUvhZs?showinfo=0&controls=0&modestbranding=1"></iframe>
                  
                    <p>
    
                        <a href="#" class="subdued">1 Like</a>
    
                        <a href="#" class="subdued">5 Comments</a>
    
                    </p>
    
                </div>
    
                <div class="item tabs tabs-secondary tabs-icon-left">
    
                    <a class="tab-item" href="#">
    
                        <i class="icon ion-heart"></i> Like
    
                    </a>
    
                    <a class="tab-item" href="#">
    
                        <i class="icon ion-chatbox"></i> Comment
    
                    </a>
    
                    <a class="tab-item" href="#">
    
                        <i class="icon ion-share"></i> Share
    
                    </a>
    
                </div>
    
            </div>
  
</ion-content>
