page-sidemenu {
    div.menu-inner {
        ion-header, ion-footer {
            display: flex;
            min-height: 64px;
            background: map-get($colors, "primary");

            span {
                margin: auto;
                font-size: 20pt;
                color: #fff;
            }
        }

        .socialmedia-container {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            justify-content: center;
            display: flex;
        }
    }
}
