page-faq {

    ion-card-header {
        background: #84b991;
        white-space: normal;
        text-align: center;
        font-size: 16px !important;
    }
    
    .ue {
        text-align: center;
        margin: center;
   
   }

   h1 {
       font-size: 20px !important;
       text-align: center;

   }

   #open1 {
       background-color:#84b991; 
        display: block;
        color: white;
        transition: 1s all;
   }
   #open2 {
    background-color:#84b991; 
     display: block;
     color: white;
     transition: 1s all;
}
    #open3 {
    background-color:#84b991; 
     display: block;
     color: white;
     transition: 1s all;
}
}









